<!DOCTYPE html>
<html lang="en">
    <% include partials/header %>
<body>
    <div id="wrapper">
        <div id="product-form">
            <div id="add-product">
                <p id="product-title">Add New Product</p>
                <% if(error){ %>    
                  <p class="err"><%= error %></p>
                <% } %>
                <% if(message){ %>
                    <p class="msg"><%= message %></p>
                <% } %>
        <form class="form" action="/admin/manage_products/add_product" method="POST">
            <div class="col-auto">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-barcode"></i></div>
            </div>
            <input type="text" class="form-control" name="productBarcode" placeholder="Product Bar Code">
            </div>
            </div>
            <div class="col-auto">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fab fa-product-hunt"></i></div>
            </div>
            <input type="text" class="form-control" name="productName" placeholder="Product Name" required >
            </div>
            </div>
            <div class="col-auto">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-tag"></i></div>
            </div>
            <input type="number" class="form-control" name="costPrice" placeholder="Cost Price" min="0">
                </div>
                <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-tags"></i></div>
            </div>
            <input type="number" class="form-control" name="sellingPrice" placeholder="Selling Price" min="0" required>
                </div>
                <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-bars"></i></div>
            </div>
            <input type="number" class="form-control" name="productQuantity" placeholder="Quantity" min="0" required>
                </div>
            </div>
            <div class="col-auto">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-sort-amount-up"></i></i></div>
            </div>
                <select required name="measuringUnit" class="form-control">
                    <option value="" diasbled>Measuring Unit</option>
                    <option value="Pieces">Pieces</option>
                    <option value="Pack">Pack</option>
                    <option value="Bottle">Bottle</option>
                    <option value="Carton">Carton</option>
                    <option value="Dozen">Dozen</option>
                    <option value="Score">Score</option>
                    <option value="Bag">Bag</option>
                    <option value="Bag">Pair</option>

                </select>
            </div>
            </div>
            <div class="col-auto">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-pause"></i></div>
                </div>
            <input type="number" class="form-control" name="measuringUnitQuantity" placeholder="Unit Holds" min="1" required >
                </div>
            </div>
             <div class="col-auto">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-file-invoice"></i></div>
            </div>
            <input type="text" class="form-control" name="invoiceNumber" placeholder="Purchase Invoice Number">
                </div>
            </div>
            <div class="product-form-footer">
                <button type="submit" class="btn btn-outline-success">Add Product</button>
            </div>
        </form>
            </div>
            <div id="manage-product">
                <p class="form-title">Manage Products</p>
                <div>
                    <input class="product-search" type="search" placeholder="Search Products">
                </div>
                    <div >
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th scope="col" class="product-name">Product Name</th>
                                <th scope="col">Cost Price</th>
                                <th scope="col">Selling Price</th>
                                <th scope="col">Measuring Unit</th>
                                <th scope="col">Quantity</th>
                            </tr>
                            </thead>
                        <tbody>
                            <% let products = productsToShow.result %>
                            <% for (let i = 0; i < products.length; i++) { %>
                                <tr data-toggle="tooltip" data-placement="top" title="Click To Edit"
                                    <th scope="row"></th>
                                    <td class="product-name"><%= products[i].productName %></td>
                                    <td>₦<%= products[i].costPrice %></td >
                                    <td>₦<%= products[i].sellingPrice %></td>
                                    <td><%= products[i].measuringUnit %></td>
                                    <td><%= products[i].productQuantity %></td>
                                </tr>
                                <% } %>
                        </tbody>
                        </table>
                        <div class="sell-nav">
                            <nav aria-label="...">
                                <ul class="pagination">
                                    <% if(productsToShow.previous){ %>
                                  <li class="page-item">
                                     <a class="page-link" href="/admin/manage_products?page=<%= productsToShow.previous %>">Previous</a>
                                  </li>
                                  <% } %>
                                  <% if(productsToShow.previous <  productsToShow.current){ %>
                                  <li class="page-item"><a class="page-link" href="/admin/manage_products?page=<%= productsToShow.current - 1 %>"><%= productsToShow.current - 1 %></a></li>
                                  <% } %>
                                  <li class="page-item"><a class="page-link current-page" href="/admin/manage_products?page=<%= productsToShow.current %>"><%= productsToShow.current %></a></li>
                                  <% if(productsToShow.next > productsToShow.current){ %>
                                  <li class="page-item"><a class="page-link" href="/admin/manage_products?page=<%= productsToShow.current + 1 %>"><%= productsToShow.current + 1 %></a></li>
                                  <% } %>
                                  <% if(productsToShow.next){ %>
                                  <li class="page-item">
                                    <a class="page-link" href="/admin/manage_products?page=<%= productsToShow.next %>">Next</a>
                                  </li>
                                  <%}%>
                                </ul>
                              </nav>
                        </div>
                </div>                
            </div>
        </div>
    </div>
<div>
    <div>
       <footer id="footer">
          <% include partials/footer %>
       </footer>
    </div>
</div>
</body>
</html>