<!DOCTYPE html>
<html lang="en">
    <% include partials/header %>
<body>
    <div id="wrapper">
        <input class="product-search" type="search" placeholder="Search Products">
            <div class="sort">
                <a href="">A</a>
                <a href="">B</a>
                <a href="">C</a>
                <a href="">D</a>
                <a href="">E</a>
                <a href="">F</a>
                <a href="">G</a>
                <a href="">H</a>
                <a href="">I</a>
                <a href="">J</a>
                <a href="">K</a>
                <a href="">L</a>
                <a href="">M</a>
                <a href="">N</a>
                <a href="">O</a>
                <a href="">P</a>
                <a href="">Q</a>
                <a href="">R</a>
                <a href="">S</a>
                <a href="">T</a>
                <a href="">U</a>
                <a href="">V</a>
                <a href="">W</a>
                <a href="">X</a>
                <a href="">Y</a>
                <a href="">Z</a>
             </div>
        <div id="sales-form">
            <div id="sell-products">
                <div class="sell-center">

                        <% var products = productsToShow.result %>
                                            
                    <% for (let i = 0; i < products.length; i++) { %>
                        <div class="product" id="product" style="cursor:pointer" >
                            <span ><%= products[i].productName %></span>
                            <span >₦ <%= products[i].sellingPrice %></span>
                            <span ><%= products[i].productQuantity %></span>
                        </div>
                        <% } %>
                </div>
                <div class="sell-nav">
                    <nav aria-label="...">
                        <ul class="pagination">
                        <% if(productsToShow.previous){ %>
                          <li class="page-item">
                             <a class="page-link" href="/sales?page=<%= productsToShow.previous %>">Previous</a>
                          </li>
                          <% } %>
                          <% if(productsToShow.previous <  productsToShow.current){ %>
                          <li class="page-item"><a class="page-link" href="/sales?page=<%= productsToShow.current - 1 %>"><%= productsToShow.current - 1 %></a></li>
                          <% } %>
                          <li class="page-item"><a class="page-link current-page" href="/sales?page=<%= productsToShow.current %>"><%= productsToShow.current %></a></li>
                          <% if(productsToShow.next > productsToShow.current){ %>
                          <li class="page-item"><a class="page-link" href="/sales?page=<%= productsToShow.current + 1 %>"><%= productsToShow.current + 1 %></a></li>
                          <% } %>
                          <% if(productsToShow.next){ %>
                          <li class="page-item">
                            <a class="page-link" href="/sales?page=<%= productsToShow.next %>">Next</a>
                          </li>
                          <%}%>
                        </ul>
                      </nav>
                </div>
            </div>
            <div id="sales-cart">
              <span id="cart-title">Cart</span>
                <div id="items-to-sell">
                  <div id="item-list">

                   <span id="productQuantity" class="cart-item-title"></span>
                   <span id="productName" class="cart-item-title"></span>
                   <span id="sellingPrice" class="cart-item-title"></span>

                  </div>
                </div>
                <div class="sell-form-footer">
                    <div class="sell-footer-btn">
                        <button type="reset" id="clear" class="btn btn-sm btn-outline-success"><i class="fas fa-times"></i></button>
                        <button type="reset" id="remove" class="btn btn-sm btn-outline-success"><i class="fas fa-minus"></i></button>
                        <button type="reset" id="remove" class="btn btn-sm btn-outline-success"><i class="fas fa-minus"></i></button>
                    </div>
                    
                    <form class="form" action="/admin/manage_users/add_user" method="POST">
                        <p>TOTAL: <span>₦</span></p>
                    </form>
                </div>
            </div>
           
        </div>
    </div>
<div>

<!-- modal starts here -->

<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="sale-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- modal ends here -->

    <div>
       <footer id="footer">
          <% include partials/footer %>
       </footer>
    </div>
</div>
</body>
</html>