<!DOCTYPE html>
<html lang="en">
    <% include partials/header %>
<body>
    <div id="wrapper">
        <input class="product-search" type="search" placeholder="Search Products">
            <div class="sort">
                <a href="">A</a>
                <a href="">B</a>
                <a href="">C</a>
                <a href="">D</a>
                <a href="">E</a>
                <a href="">F</a>
                <a href="">G</a>
                <a href="">H</a>
                <a href="">I</a>
                <a href="">J</a>
                <a href="">K</a>
                <a href="">L</a>
                <a href="">M</a>
                <a href="">N</a>
                <a href="">O</a>
                <a href="">P</a>
                <a href="">Q</a>
                <a href="">R</a>
                <a href="">S</a>
                <a href="">T</a>
                <a href="">U</a>
                <a href="">V</a>
                <a href="">W</a>
                <a href="">X</a>
                <a href="">Y</a>
                <a href="">Z</a>
             </div>
        <div id="sales-form">
            <div id="sell-products">
                <div class="sell-center">
                    <% let products = productsToShow.result %>
                    <% for (let i = 0; i < products.length; i++) { %>
                        <div id="product" style="cursor:pointer" onclick="addToCart()">
                            <%= products[i].productName %>
                            <br>
                            ₦<%= products[i].sellingPrice %>
                            <br>
                            <%= products[i].productQuantity %>
                        </div>
                        <% } %>
                </div>
                <div class="sell-nav">
                    <nav aria-label="...">
                        <ul class="pagination">
                        <% if(productsToShow.previous){ %>
                          <li class="page-item">
                             <a class="page-link" href="/sales?page=<%= productsToShow.previous %>">Previous</a>
                          </li>
                          <% } %>
                          <% if(productsToShow.previous <  productsToShow.current){ %>
                          <li class="page-item"><a class="page-link" href="/sales?page=<%= productsToShow.current - 1 %>"><%= productsToShow.current - 1 %></a></li>
                          <% } %>
                          <li class="page-item"><a class="page-link current-page" href="/sales?page=<%= productsToShow.current %>"><%= productsToShow.current %></a></li>
                          <% if(productsToShow.next > productsToShow.current){ %>
                          <li class="page-item"><a class="page-link" href="/sales?page=<%= productsToShow.current + 1 %>"><%= productsToShow.current + 1 %></a></li>
                          <% } %>
                          <% if(productsToShow.next){ %>
                          <li class="page-item">
                            <a class="page-link" href="/sales?page=<%= productsToShow.next %>">Next</a>
                          </li>
                          <%}%>
                        </ul>
                      </nav>
                </div>
            </div>
            <div id="sales-cart">
                <div id="items-to-sell">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td scope="row">Mark</td">
                            <td scope="row">Otto</td>
                            <td scope="row">@mdo</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                <div class="sell-form-footer">
                    <div class="sell-footer-btn">
                        <button type="reset" id="clear" class="btn btn-sm btn-outline-success"><i class="fas fa-times"></i></button>
                        <button type="reset" id="remove" class="btn btn-sm btn-outline-success"><i class="fas fa-minus"></i></button>
                        <button type="reset" id="remove" class="btn btn-sm btn-outline-success"><i class="fas fa-minus"></i></button>
                    </div>
                    
                    <form class="form" action="/admin/manage_users/add_user" method="POST">
                        <p>TOTAL: <span>₦</span></p>
                    </form>
                </div>
            </div>
           
        </div>
    </div>
<div>
    <div>
       <footer id="footer">
          <% include partials/footer %>
       </footer>
    </div>
</div>
</body>
</html>